.todos-bg-container {
  background-color: #f9fbfe;
  height: 100vh;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

 .create-task-heading {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
} 

/* .create-task-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
} */

.todo-items-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}

.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
}

.todo-item-container {
  margin-top: 15px;
}
.checked{
    text-decoration: line-through;
}

.todo-user-input {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.button {
  color: white;
  background-color: #b64c4c;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.label-container {
  background-color: hsl(100, 19%, 66%);
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #e31111;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
  display: flex;
  text-align: start;

}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.delete-icon-container {
  text-align: right;
  width: 18%;
}

.delete-icon {
  padding-right: 15px;
  font-weight: bold;
  cursor: pointer;
}